

/* Title */
h1 {
    color: white;
    background-color: blue;
    text-align: center;
}

/* City Search Section */
.content-box {
    display: flex;
    flex-wrap: wrap;
}


/* City Search Results Section */


/* Todays Weather Section */
.cityHeader h1 {
    color: pink;
    background-color: green;
    font-size: 32px;
}


/* 5 day forecast section */
.forecast-card h2 {
    background-color: rgb(44, 196, 196);
}

.forecast-card p {
    background-color: tan;
}