

/* Title */
h1 {
    color: white;
    background-color: blue;
    text-align: center;
}

/* City Search Section */
.content-box {
    display: flex;
    flex-wrap: wrap;
}


/* City Search Results Section */


/* Todays Weather Section */



/* 5 day forecast section */
